[submodule "Cryptographic-Tool"]
	path = Cryptographic-Tool
	url = https://github.com/charvibannur/Cryptographic-Tool
[submodule "Auto-Form-FIller"]
	path = Auto-Form-FIller
	url = https://github.com/Rohit-singh-code/Auto-Form-FIller
[submodule "packet-sniffer"]
	path = packet-sniffer
	url = https://github.com/legbing/packet-sniffer
[submodule "Password_Manager"]
	path = Password_Manager
	url = https://github.com/Tanya-Arora21/Password_Manager
[submodule "ProtectMyFace"]
	path = ProtectMyFace
	url = https://github.com/VibNY/ProtectMyFace.git
